body {
  font-size: 16px;
  background-color: #D6EFFA;
  color: #0B5554;
}

nav {
  background-color: #0B5554;
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: Georgia;
  font-size: 5.0em;
  width: 90%;
  margin-top: 35px;
  margin-bottom: 35px;
}

h3 {
  font-size: 2.5em;
  width: 90%;
  margin-top: 35px;
  margin-bottom: 35px;
}

p {
  font-family: arial;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 25px;
}

.logo {
  float:left;
  margin: 20px;
  width: 100px;
}

.figure {
  width: 100%;
}

/* image */
.medium-pic {
  width: 90%;
}

/* image */
.left {
  float: left;
  width: 50%;
}

/* menu */
.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

.author {
  width: 90%;
  font-weight: bold;
  margin-top: 10px;
}

.story-text {
  width: 90%;
}

.italic {
  font-style: italic;
  font-size: 1.875em;
  display: block;
}

.container {
  margin: 0 auto;
  width: 50%;
  padding-top: 100px;
}

a:link, a:visited {
  background-color: #0B5554;
  color: #D6EFFA;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #D6EFFA;
  color: #0B5554;
}
